<!-- fxLayout permite utilizar terminos flex en el componente angular-->
<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr />
    </div>
  </div>

  <!-- muestra este bloque solo dishes existe-->
  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2" rowHeight="200px">
      <!-- *ngFor es un comando para  componentes angular, trabaja parecido a un "For each", con variables del
      menu.component.ts suminitradas, aqui con dishes. Se usa el evento "Click" para ejecutar el metodo onSelect -->
      <!-- a routerLink se le esta agregando una variable, en este caso es el dish.id que se le agrega
      en la url.-->
      <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
        <!-- los elementos mat son elementos de material angular, permite crear elementos con estilos a 
        pre configurados -->
        <!-- BaseUrl estara compuesta por este, mas dish.image-->
        <img height="200px" src="{{ BaseURL + dish.image }}" alt="{{ dish.name }}" />
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <!-- muestra este div, con un spinner si es que dishes no existe. Si existe, se esconde.-->
  <div [hidden]="dishes || errmess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <!-- muestra mensajes de error si existe -->
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <!-- mat-list crea una lista de material angular-->

  <!-- Se crea un componente Card, con una imagen, texto y dos botones -->
  <!-- Se pasa la propiedad "selectedDish" de menu.component a dishdetail.component como "dish"-->
  

  
</div>
