<!-- fxLayout permite utilizar terminos flex en el componente angular-->
<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr />
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <!-- *ngFor es un comando para  componentes angular, trabaja parecido a un "For each", con variables del
      menu.component.ts suminitradas, aqui con dishes -->
      <mat-grid-tile *ngFor="let dish of dishes">
        <!-- los elementos mat son elementos de material angular, permite crear elementos con estilos a 
        pre configurados -->
        <img height="200px" src="{{ dish.image }}" alt="{{ dish.name }}" />
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

  </div>
  <!-- mat-list crea una lista de material angular-->

  <!-- Se crea un componente Card, con una imagen, texto y dos botones -->
  <app-dishdetail></app-dishdetail>

  
</div>
